<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center"><img class="img-fluid" width="250" src="../img/octo.png" /></div>
  </div>
</div>
<section class="home-newsletter">
<div class="container">
<div class="row">
<div class="col-sm-12">
	<div class="single">
		<h2>Renseignez votre email pour pouvoir jouer</h2>
    <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
      <div class="form-group" [ngClass]="{'has-danger':!complexForm.controls['nom'].valid && complexForm.controls['nom'].touched}">
        <input class="form-control" [ngClass]="{'form-control-danger':!complexForm.controls['nom'].valid && complexForm.controls['nom'].touched}" type="text" placeholder="Nom" [formControl]="complexForm.controls['nom']" required>
        <div *ngIf="complexForm.controls['nom'].hasError('required') && complexForm.controls['nom'].touched" class="form-control-feedback">Le nom est obligatoire</div>
        <div *ngIf="complexForm.controls['nom'].hasError('minlength') && complexForm.controls['nom'].touched" class="form-control-feedback">Le nom doit comporter 3 car. min.</div>
      </div>

      <div class="form-group mt-3" [ngClass]="{'has-danger':!complexForm.controls['prenom'].valid && complexForm.controls['prenom'].touched}">
        <input type="text" class="form-control" [ngClass]="{'form-control-danger':!complexForm.controls['prenom'].valid && complexForm.controls['prenom'].touched}" placeholder="Prénom" [formControl]="complexForm.controls['prenom']" required>
        <div *ngIf="complexForm.controls['prenom'].hasError('required') && complexForm.controls['prenom'].touched" class="form-control-feedback">Le prénom est obligatoire</div>
        <div *ngIf="complexForm.controls['prenom'].hasError('minlength') && complexForm.controls['prenom'].touched" class="form-control-feedback">Le prénom doit comporter 3 car. min.</div>
      </div>
	     <div class="input-group form-group mt-3" [ngClass]="{'has-danger':!complexForm.controls['email'].valid && complexForm.controls['email'].touched}">
         <input type="email" class="form-control" [ngClass]="{'form-control-danger':!complexForm.controls['email'].valid && complexForm.controls['email'].touched}" placeholder="Entrez votre email" [formControl]="complexForm.controls['email']" required>
         <span class="input-group-btn">
         <button class="btn btn-theme" [disabled]="!complexForm.valid" type="submit">Jouer</button>
         </span>
       </div>
       <div *ngIf="complexForm.controls['email'].hasError('required') && complexForm.controls['email'].touched" class="form-control-feedback">L'email est obligatoire</div>
       <div *ngIf="complexForm.controls['email'].hasError('pattern') && complexForm.controls['email'].touched" class="form-control-feedback">L'email est invalide. Ex: mail@exemple.com</div>
       <div *ngIf="errorMessage == 'Member Exists'" class="form-control-feedback">L'email est déjà utilisé</div>
       <div *ngIf="errorMessage != 'Member Exists' && errorMessage != ''" class="form-control-feedback">Une erreur est survenue avec l'API MailChimp</div>
      </form>
	</div>
</div>
</div>
</div>
</section>
