<div class="scene-img" *ngIf="scene" [ngStyle]="{'background-image':'url(' + scene._embedded['wp:featuredmedia']['0']['source_url'] +')'}"></div>
<div class="scene-plot-container">
	<div class="scene-plot" *ngIf="scene">
		<div class="container">
		<div class="row align-items-start">
			<div class="col-sm-4 offset-sm-4 text-center">
				<img class="img-fluid" width="80" src="./img/down-chevron.gif" />
			</div>
		</div>
	</div>
		<div class="container">
		<div class="row align-items-start">
			<div class="col-sm-6 offset-sm-6 text-right">
				<button (click)="popToast()" type="button" class="btn btn-outline-primary">Revoir la conversation</button>
			</div>
		</div>
	</div>
		<br />
		<div class="row align-items-center">
			<div class="col-sm-4 text-center">
				<img class="img-fluid" width="40" src="../img/like.png" />
				<h5>{{popBar}}</h5>
				<p>Fans</p>
			</div>
			<div class="col-sm-4 text-center">
				<img class="img-fluid" width="40" src="../img/cash.png" />
				<h5>{{cashBar}} CHF</h5>
				<p>Chiffre d'affaires</p>
			</div>
			<div class="col-sm-4 text-center">
				<img class="img-fluid" width="40" src="../img/budget.png" />
				<h5>{{prodBar}}</h5>
				<p>Coûts de productions CHF</p>
			</div>
		</div>
		<br />
		<p>{{scene.content.rendered}}</p>


		<form action="" (ngSubmit)="nextScene(choix)">

			<div class="form-group row" *ngIf="scene.acf.description_1">
				<label class="custom-control custom-radio">
					<input (click)="getId($event)" id="radio1" name="choix" type="radio" class="custom-control-input" [value]="scene.acf.suivante_1.ID" [(ngModel)]="choix">
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description">{{scene.acf.description_1}}</span>
				</label>
			</div>

			<div class="form-group row" *ngIf="scene.acf.description_2">
				<label class="custom-control custom-radio">
					<input (click)="getId($event)" id="radio2" name="choix" type="radio" class="custom-control-input" [value]="scene.acf.suivante_2.ID" [(ngModel)]="choix">
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description">{{scene.acf.description_2}}</span>
				</label>
			</div>

			<div class="form-group row" *ngIf="scene.acf.description_3">
				<label class="custom-control custom-radio">
					<input (click)="getId($event)" id="radio3" name="choix" type="radio" class="custom-control-input" [value]="scene.acf.suivante_3.ID" [(ngModel)]="choix">
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description">{{scene.acf.description_3}}</span>
				</label>
			</div>

			<div class="form-group row">
				<button type="submit" class="btn btn-success" (click)="toggleScene()">Suivant</button>
			</div>

		</form>
	</div>
	<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
	<br />
</div>
