<div class="scene-img" *ngIf="scene" [ngStyle]="{'background-image':'url(' + scene._embedded['wp:featuredmedia']['0']['source_url'] +')'}"></div>
<div class="scene-txt"></div>
<div class="scene-plot-container">
	<div class="scene-plot" *ngIf="scene">
		<p>{{scene.content.rendered}}</p>
		<form action="" (ngSubmit)="nextScene()">
			<div class="form-group row">
				<label class="custom-control custom-radio">
					<input id="radio1" name="choix" type="radio" class="custom-control-input" [value]="scene.acf.suivante_1.ID">
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description">{{scene.acf.description_1}}</span>
				</label>
			</div>
			<div class="form-group row">
				<label class="custom-control custom-radio">
					<input id="radio2" name="choix" type="radio" class="custom-control-input" [value]="scene.acf.suivante_2.ID">
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description">{{scene.acf.description_2}}</span>
				</label>
			</div>
			<div class="form-group row">
				<label class="custom-control custom-radio">
					<input id="radio3" name="choix" type="radio" class="custom-control-input" [value]="scene.acf.suivante_3.ID">
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description">{{scene.acf.description_3}}</span>
				</label>
			</div>
			<div class="form-group row">
				<button type="submit" class="btn btn-success">Submit</button>
			</div>
		</form>
	</div>
	<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
            <button (click)="popToast()">pop toast</button>`
</div>
